$bg-color:#333;
$font-color:#fff;
$dark-overlay:rgba(0,0,0,0.6);
$bright-overlay:rgba(192,192,192,0.3);


body{
   background: url('../img/spaceTumblr.png');
   background-size:100vw 100vh;
   background-attachment:fixed;
   box-shadow: inset 0, 0, 0, 100vh  $dark-overlay;

   color: $font-color;
   overflow: hidden;
   box-sizing: border-box;
}



@media only screen and (max-height:500px){

.cover{
    display: none;
}

}

.darkOverlay{
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left:0;
    margin: 0;
    width: 100%;
    height:100%;
}

@media only screen and (max-width:900px) {
    .wrapper{
       flex-direction: column;
       height: 100vh;
       overflow-y: auto;
    }
     
   .container{
       min-width: 100vw !important;
       padding-left: 0px !important;
       padding-right: 0px !important;
   }
   
   .container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
   }
    .sidebar{
        display: flex;
        border-bottom: 2px solid #fff;
        border-top: 2px solid #fff;
        flex:100vw;
        background-color: $bright-overlay;
        flex-direction: row;
        justify-content: space-around; /*Vertical*/
        align-items: center; /*Horizontal*/
        text-align: center; /*na quebra de linha o texto continua centralizado*/

        .cover, .resumo{
            display: none;
             }
        
        .iconArea{
            //  margin-bottom:1%;
            .fa{
                font-size: 1.3em;
                &:hover{
                    font-size: 1.5em;
                }
            }

            a {
              text-decoration: none;
              color:#fff;
            }
        }


    }

    .content{
        display: flex;
        flex:80vw;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding-right: 15vw;
        padding-left: 15vw;

        .post{
            
              margin-top: 10vh !important;
              margin-bottom: 10vh !important;
        
                .card-img-top{
                    max-height:390px !important; 
                }
            
                .post-content{
                 margin-top:2em;
                 text-align: center;
                }
              }
        
              hr.lineBreak {
                border: 1px dotted rgba(255, 255, 255, 0.4);
                width:60%;
            }
    }

   
}
@media only screen and (min-width:901px) {
.page{
    overflow-y: auto;
}
.wrapper{
    display: flex;
    justify-content: space-between;

    
    .sidebarContainer{
        flex:16vw;
    }

    .sidebar{
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        background-color: $bright-overlay;
        position:fixed;
        height: 100vh;
        width: 16vw;
        // flex:16vw;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        text-align: center;
       

        .blogTitle{
            margin-top: 5vh;
        }

       .iconArea{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .fa{
            font-size: 1.3em;
            &:hover{
                font-size: 1.6em;
            }
        }

        a {
          text-decoration: none;
          color:#fff;
        }


       }

    }

    .content .post:first-child{
        margin-top: 0px !important;
    }

    .content{
        // border: 1px solid green;
       
        flex:50vw;
        margin-left:15vw; 
        margin-right: 5vw;
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        
      .post{
    
      margin-top: 10vh !important;
      margin-bottom: 10vh !important;

        .card-img-top{
            max-height:390px !important; 
        }
    
        .post-content{
         margin-top:2em;
         text-align: center;
        }
      }

      


    }
    
  

    hr.lineBreak {
        border: 1px dotted rgba(255, 255, 255, 0.4);
        width:60%;
    }
 }
}